<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gmail 테스트</title>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/css/styles.min.css">
  <style>
    .btn-danger {
      color: #fff;
      background-color: #d9534f !important;
      border-color: #d43f3a !important;
    }
  </style>
</head>
<body>
  <div>
    <nav class="navbar navbar-default navigation-clean">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand navbar-link" href="#">@In-Soft </a>
          <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="active" role="presentation">
              <a href="#">First Item</a>
            </li>
            <li role="presentation">
              <a href="#">Second Item</a>
            </li>
            <li role="presentation">
              <a href="#">Third Item</a>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Dropdown
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation">
                  <a href="#">First Item</a>
                </li>
                <li role="presentation">
                  <a href="#">Second Item</a>
                </li>
                <li role="presentation">
                  <a href="#">Third Item</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="highlight-clean">
    <div class="container">
      <div class="intro">
        <h2 class="text-center">Gmail API</h2>
        <p class="text-center">이 애플리케이션은 구글 Gmail API 테스트 입니다. </p>
      </div>
      <div class="buttons">
        <a id="btn_message" class="btn btn-primary">메일목록 가져오기</a>
        <a id="btn_trello" class="btn btn-danger hidden">Trello 전송</a>
        <a id="btn_auth" class="btn btn-default">인증시작</a>
      </div>
      <!-- <pre id="results" style="margin-top: 30px;"></pre> -->
      <div class="table-responsive" style="margin-top:60px;">
        <table id="mailList" class="table">
          <thead>
            <tr>
              <th style="width:200px;">보낸사람 </th>
              <th>메일 제목 </th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <input type="hidden" id="token" />
  <script>window.$ = window.jQuery = require('../node_modules/jquery/dist/jquery.min');</script>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script>require('../renderer.js')</script>
</body>

</html>